@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-coral-100 {
    background-color: rgba(255, 127, 102, 0.1);
  }
  .text-coral-500 {
    color: rgb(255, 127, 102);
  }
  
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-200 {
    animation-delay: 200ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .delay-400 {
    animation-delay: 400ms;
  }
  .delay-500 {
    animation-delay: 500ms;
  }
}